@{
    ViewBag.Title = "Folder"; 
}

<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li>root</li>
            <li class="active">folder</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" data-folder>
    </div>
</div>